{% extends "AppBundle:login:master.html.twig" %}

{% block content %}
    <div>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    {{ form_start(form,{'action': path('admin_login')}) }}
                        <h1>Login</h1>
                        <div>
                            {{ form_widget(form._username) }}
                        </div>
                        <div>
                            {{ form_widget(form._password) }}
                        </div>
                        <div>
                            {{ form_widget(form._submit) }}
                        </div>

                        <input type="hidden" name="_login_csrf_token" value="{{ csrf_token('authenticate') }}">

                        <div class="separator">
                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <h1><i class="fa fa-paw"></i> Admin Panel</h1>
                                <p>©2017 All Rights Reserved. A.Terlan</p>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
